<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mldong.modules.cms.mapper.CmsArticleMapper">
	<resultMap id="BaseResultMap" type="com.mldong.modules.cms.entity.CmsArticle">
		<id column="id" property="id" />
		<result column="category_id" property="categoryId" />  
		<result column="title" property="title" />  
		<result column="description" property="description" />  
		<result column="cover" property="cover" />  
		<result column="author" property="author" />  
		<result column="source" property="source" />  
		<result column="sort" property="sort" />  
		<result column="publish_time" property="publishTime" />  
		<result column="is_publish" property="isPublish" />  
		<result column="content" property="content" />  
		<result column="ext_form_value" property="extFormValue" />  
		<result column="dept_id" property="deptId" />  
		<result column="user_id" property="userId" />  
		<result column="create_time" property="createTime" />  
		<result column="update_time" property="updateTime" />  
		<result column="is_deleted" property="isDeleted" />  
	</resultMap>
</mapper>