<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mldong.modules.sys.mapper.SysUploadConfigMapper">
	<resultMap id="BaseResultMap" type="com.mldong.modules.sys.entity.SysUploadConfig">
		<id column="id" property="id" />
		<result column="biz_name" property="bizName" />  
		<result column="biz_type" property="bizType" />  
		<result column="file_size_min" property="fileSizeMin" />  
		<result column="file_size_max" property="fileSizeMax" />  
		<result column="file_ext" property="fileExt" />  
		<result column="base_url" property="baseUrl" />  
		<result column="callback_url" property="callbackUrl" />  
		<result column="naming_strategy" property="namingStrategy" />  
		<result column="is_record" property="isRecord" />  
		<result column="remark" property="remark" />  
		<result column="create_time" property="createTime" />  
		<result column="update_time" property="updateTime" />  
		<result column="is_deleted" property="isDeleted" />  
	</resultMap>
</mapper>