<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mldong.modules.sys.mapper.SysUserMapper">
	<resultMap id="BaseResultMap" type="com.mldong.modules.sys.entity.SysUser">
		<id column="id" property="id" />
		<result column="user_name" property="userName" />  
		<result column="real_name" property="realName" />  
		<result column="avatar" property="avatar" />  
		<result column="email" property="email" />  
		<result column="mobile_phone" property="mobilePhone" />  
		<result column="telephone" property="telephone" />  
		<result column="password" property="password" />  
		<result column="salt" property="salt" />  
		<result column="sex" property="sex" />  
		<result column="is_locked" property="isLocked" />  
		<result column="dept_id" property="deptId" />  
		<result column="post_id" property="postId" />  
		<result column="remark" property="remark" />  
		<result column="create_time" property="createTime" />  
		<result column="update_time" property="updateTime" />  
		<result column="is_deleted" property="isDeleted" />  
	</resultMap>
</mapper>