<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mldong.modules.sys.mapper.SysUploadRecordMapper">
	<resultMap id="BaseResultMap" type="com.mldong.modules.sys.entity.SysUploadRecord">
		<id column="id" property="id" />
		<result column="biz_type" property="bizType" />  
		<result column="biz_id" property="bizId" />  
		<result column="url" property="url" />  
		<result column="file_name" property="fileName" />  
		<result column="file_size" property="fileSize" />  
		<result column="mime_type" property="mimeType" />  
		<result column="file_ext" property="fileExt" />  
		<result column="create_time" property="createTime" />  
		<result column="update_time" property="updateTime" />  
		<result column="is_deleted" property="isDeleted" />  
	</resultMap>
</mapper>