<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mldong.modules.sys.mapper.FileInfoMapper">

    <select id="selectCustom" resultType="com.mldong.modules.sys.vo.FileInfoVO">
        select * from sys_file_info t ${ew.customSqlSegment}
    </select>
    <select id="findById" resultType="com.mldong.modules.sys.vo.FileInfoVO">
        select * from sys_file_info t where t.id = #{id}
    </select>
</mapper>
