<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mldong.modules.wf.mapper.ProcessCcInstanceMapper">

    <select id="selectCustom" resultType="com.mldong.modules.wf.vo.ProcessCcInstanceVO">
        select * from wf_process_cc_instance t ${ew.customSqlSegment}
    </select>
    <select id="findById" resultType="com.mldong.modules.wf.vo.ProcessCcInstanceVO">
        select * from wf_process_cc_instance t where t.id = #{id}
    </select>
</mapper>
